*.tags
*.tags1
/Project/
/srcMPI/
/srcProject/
/worksheet3/


# vim created files
*.swp
.ycm*

## C project files
## Copied from C.gitignore by GitHub
# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/

# Eclipse project files
.cproject
.project
.settings
.metadata

# Exclude folders
src/matlab_files

# Exclude testing file
testingPara.dat

# executable from makefile
sim
lbsim

# Visualization files
*.vtk

# GDB files
*.expand
*.vregs
*.into_cfglayout
*.jump
*.reginfo
*.outof_cfglayout
*.split1
*.dfinit
*.mode_sw
*.asmcons
*.ira
*.reload
*.split2
*.pro_and_epilogue
*.jump2
*.stack
*.alignments
*.mach
*.barriers
*.shorten
*.nothrow
*.dwarf2
*.final
*.dfinish
*.dbg
.fuse_hidden*

# Shell executables
*.sh

# Latex files
*.log
*.aux
